
  

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Rubik:wght@300&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
}

.borde{
    
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: rgb(243, 239, 239)

}

.container{
    
    padding: 50px;
    
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(66, 151, 139);
    
}

.btn{
    height: 40px;
}

.olvidepass{
    text-align: right;
    color: rgb(35, 35, 94);
    text-align: right;
}

.grid-olvide{
    text-align: right;
}

.login{
    text-align: center;
    font-size: 40px;
    color: rgb(14, 61, 83);
    font-weight: bold;

}

div.botones{
    text-align: center; 
}
div.botones img{
    margin-right: 10px;
   
}




.fondo{
    background-color: rgb(247, 243, 243);
}
.actividades-grid{
    background-color: rgb(247, 243, 243);
    padding: 50px;
}
.usuario{
    background-color: rgba(139,201,200,255);
    padding: 25px;
}

.mas, span{
    font-weight: bold;
    font-size: 25px;
    
}


.saludo{
    font-size: 25px;
}
.botoncerrar{
    margin: 20px;
    text-align: right;
}


.actividades{
   
    padding: 40px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}

.tarea{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(241, 242, 242);
    margin:15px;
    font-size: 25px;
    height: 70px;
    display: flex;
    color: rgb(37, 63, 128);
    align-items: center;
    justify-content: space-between;
}
